<!DOCTYPE html>
<html>
<head>
<title><%= full title(yield(:title)) %></title>
<%= stylesheet link tag
"application", media: "all" %>
<%= javascript include tag "application" %>
<%= csrf meta tags %>
<%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
