<h1>Listing taskita</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taskita.each do |taskitum| %>
      <tr>
        <td><%= taskitum.task %></td>
        <td><%= link_to 'Show', taskitum %></td>
        <td><%= link_to 'Edit', edit_taskitum_path(taskitum) %></td>
        <td><%= link_to 'Destroy', taskitum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taskitum', new_taskitum_path %>
